NET "CLK"  LOC = "T9" | IOSTANDARD = LVTTL ;
NET "LED1"  LOC = "A10" | IOSTANDARD = LVTTL ;
NET "LED2"  LOC = "B10" | IOSTANDARD = LVTTL ;
NET "BRITE"  LOC = "n14" | IOSTANDARD = LVTTL ;
NET "SLEEP"  LOC = "p14" | IOSTANDARD = LVTTL ;

NET "DCLK" LOC="j16" | IOSTANDARD = LVTTL; 
NET "HD" LOC="b16" | IOSTANDARD = LVTTL; 
NET "VD" LOC="k16" | IOSTANDARD = LVTTL; 
NET "DENA" LOC="h16" | IOSTANDARD = LVTTL; 

NET "ROUT<0>" LOC="k15" | IOSTANDARD = LVTTL; 
NET "ROUT<1>" LOC="c16" | IOSTANDARD = LVTTL; 
NET "ROUT<2>" LOC="l15" | IOSTANDARD = LVTTL; 
NET "ROUT<3>" LOC="c15" | IOSTANDARD = LVTTL; 
NET "ROUT<4>" LOC="m16" | IOSTANDARD = LVTTL; 
NET "ROUT<5>" LOC="d16" | IOSTANDARD = LVTTL; 

NET "GOUT<0>" LOC="d15" | IOSTANDARD = LVTTL; 
NET "GOUT<1>" LOC="m15" | IOSTANDARD = LVTTL; 
NET "GOUT<2>" LOC="e16" | IOSTANDARD = LVTTL; 
NET "GOUT<3>" LOC="n16" | IOSTANDARD = LVTTL; 
NET "GOUT<4>" LOC="e15" | IOSTANDARD = LVTTL; 
NET "GOUT<5>" LOC="n15" | IOSTANDARD = LVTTL; 

NET "BOUT<0>" LOC="p16" | IOSTANDARD = LVTTL; 
NET "BOUT<1>" LOC="f15" | IOSTANDARD = LVTTL; 
NET "BOUT<2>" LOC="p15" | IOSTANDARD = LVTTL; 
NET "BOUT<3>" LOC="g16" | IOSTANDARD = LVTTL; 
NET "BOUT<4>" LOC="r16" | IOSTANDARD = LVTTL; 
NET "BOUT<5>" LOC="g15" | IOSTANDARD = LVTTL; 

