NET "RXCLKIN" TNM_NET = "RXCLKIN_GRP";
TIMESPEC "TS_RXCLKIN" = PERIOD "RXCLKIN_GRP" 50.1 MHz HIGH 50 %;


NET "RXCLKIN"  LOC = "T9" | IOSTANDARD = LVTTL ;
NET "LED1"  LOC = "A10" | IOSTANDARD = LVTTL ;
NET "LED2"  LOC = "B10" | IOSTANDARD = LVTTL ;
NET "BRITE"  LOC = "n14" | IOSTANDARD = LVTTL ;
NET "SLEEP"  LOC = "p14" | IOSTANDARD = LVTTL ;

NET "DCLK" LOC="R16" | IOSTANDARD = LVTTL; 
NET "HD" LOC="H15" | IOSTANDARD = LVTTL; 
NET "VD" LOC="P15" | IOSTANDARD = LVTTL; 
NET "DENA" LOC="C15" | IOSTANDARD = LVTTL; 

NET "REV" LOC="D16" |IOSTANDARD = LVTTL; 

NET "ROUT<0>" LOC="p16" | IOSTANDARD = LVTTL; 
NET "ROUT<1>" LOC="h16" | IOSTANDARD = LVTTL; 
NET "ROUT<2>" LOC="n15" | IOSTANDARD = LVTTL; 
NET "ROUT<3>" LOC="g15" | IOSTANDARD = LVTTL; 
NET "ROUT<4>" LOC="n16" | IOSTANDARD = LVTTL; 
NET "ROUT<5>" LOC="g16" | IOSTANDARD = LVTTL; 

NET "GOUT<0>" LOC="f15" | IOSTANDARD = LVTTL; 
NET "GOUT<1>" LOC="m15" | IOSTANDARD = LVTTL; 
NET "GOUT<2>" LOC="e15" | IOSTANDARD = LVTTL; 
NET "GOUT<3>" LOC="m16" | IOSTANDARD = LVTTL; 
NET "GOUT<4>" LOC="e16" | IOSTANDARD = LVTTL; 
NET "GOUT<5>" LOC="l15" | IOSTANDARD = LVTTL; 

NET "BOUT<0>" LOC="k15" | IOSTANDARD = LVTTL; 
NET "BOUT<1>" LOC="d15" | IOSTANDARD = LVTTL; 
NET "BOUT<2>" LOC="k16" | IOSTANDARD = LVTTL; 
NET "BOUT<3>" LOC="b16" | IOSTANDARD = LVTTL; 
NET "BOUT<4>" LOC="j16" | IOSTANDARD = LVTTL; 
NET "BOUT<5>" LOC="c16" | IOSTANDARD = LVTTL; 

