NET "CLK"  LOC = "T9" | IOSTANDARD = LVTTL ;
NET "LED1"  LOC = "A10" | IOSTANDARD = LVTTL ;
NET "LED2"  LOC = "B10" | IOSTANDARD = LVTTL ;
NET "BRITE"  LOC = "n14" | IOSTANDARD = LVTTL ;
NET "SLEEP"  LOC = "p14" | IOSTANDARD = LVTTL ;
